<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Guess The Number</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Guess The Number</h1>-->
<!--    <h2>Guess a number between 1 and 6</h2>-->
<!--    <form action="/roll-dice" method="post">-->
<!--        <option>-->
<!--            <select>1</select>-->
<!--            <select>2</select>-->
<!--            <select>3</select>-->
<!--            <select>4</select>-->
<!--            <select>5</select>-->
<!--            <select>6</select>-->
<!--        </option>-->
<!--        <input type="submit" value="Guess">-->
<!--    </form>-->
<!--    <p>The number rolled was <span th:text="${rollDice}"></span>, your number was <span  th:text="${Guess}"></span></p>-->
<!--<p th:if="${Guess = rollDice}">Great guess!!!</p>-->
<!--<p th:if="${Guess != rollDice}">Sorry, try again!</p>-->
<!--</body>-->
<!--</html>-->